//jQuery
script(type="text/javascript", src="../js/components/jquery/dist/jquery.min.js")
//Bootstrap
script(type="text/javascript", src="../js/components/bootstrap/dist/js/bootstrap.min.js")

script(type="text/javascript", src="../js/passwordReset.js")
