doctype html
html(ng-app="app")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - DancersQ
    include partials/styles
  body(ng-controller="AppCtrl")

    .app#app(ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}", ui-view)
    #growlContainer(growl)
    include partials/scripts
    script(type="text/javascript").
      window.user = !{JSON.stringify(user)};
