include partials/reset_password_head
.container
    .col-sm-12.text-center
        h1 Password reset token is invalid or has expired.
        a.btn.btn-primary#home(href='/')
            i.fa.fa-sign-out
            | &nbsp Home
